

$light-f-color: #fcfcfc;
$light-s-color: #bababa;
$light-th-color: #d7d7d7;
$light-fo-color: #c6538c;
$dark-f-color: #c6538c;
$dark-s-color: #c6538c;
$dark-th-color: #c6538c;
$dark-fo-color: #c6538c;

@import 'reset';

@mixin themable($theme-name, $container-bg, $left-bg, $right-bg, $innertext, $button-bg) {
    .#{$theme-name} {
        main {
            background-color: $container-bg;
            margin: 0 auto;
            width: 1200px;
 
            * {
                font-size: 1rem;
            }
            header{
                display: flex;
                padding: 1rem 0;
                align-items: center;
            }
            .logo{
                width: 200px;
            }
            .search{
                width: calc( 100% - 200px );
                display: flex;
                justify-content: space-between;
            }
            .box-search{
                position: relative;
                width: 80%;
            }
            .box-search_input{
                width: 100%;
                padding: 15px;
                border-color: transparent;
                box-shadow: 0 0 0 1px  $left-bg;

            }
            .box-search_submit{
                position: absolute;
                right: 30px;
                top: 12px;
                font-size: 30px;
                color: $left-bg;
            }
            .icon{
                width: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;

            }
 
            .right {
                background-color: $right-bg;
                height: 100%;
                position: relative;
                width: 29%;
            }
 
            .button {
                background-color: $button-bg;
                border: 0;
                border-radius: 10px;
                bottom: 10px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                padding: 1em 2em;
                position: absolute;
                right: 10px;
            }
        }
    }
 }

 @include themable(lightmode, $light-f-color, $light-s-color, $light-th-color, $light-fo-color, #bc6a49);
@include themable(darkmode, $dark-f-color, $dark-s-color, $dark-th-color, $dark-fo-color, #481b16);