

$light-f-color: #fcfcfc;
$light-s-color: #bababa;
$light-th-color: #d7d7d7;
$light-fo-color: #333333;
$like: #ff0c63;
$dark-f-color: #333333;
$dark-s-color: #fcfcfc;
$dark-th-color: #c6538c;
$dark-fo-color: #fcfcfc;

@import 'reset';

@mixin themable($theme-name, $container-bg, $text-1, $text-2, $innertext, $button-bg,$likecolor) {
    .#{$theme-name} {
        html ,body{
            background-color: $container-bg;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .contents{
            width: 100%;
            background-color: $container-bg;

        }
        main {
            background-color: $container-bg;
            margin: 0 auto;
            width: 1200px;
 
            * {
                font-size: 1rem;
                text-transform: capitalize;
                box-sizing: border-box;
            }
            header{
                display: flex;
                padding: 1rem 0;
                align-items: center;
            }
            .logo{
                width: 200px;
            }
            .search{
                width: calc( 100% - 200px );
                display: flex;
                justify-content: space-between;
            }
            .box-search{
                position: relative;
                width: 80%;
            }
            .box-search_input{
                width: 100%;
                padding: 15px;
                border-color: transparent;
                box-shadow: 0 0 0 1px  $text-1;

            }
            .box-search_submit{
                position: absolute;
                right: 30px;
                top: 12px;
                font-size: 30px;
                color: $text-1;
            }
            .icon{
                width: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;

            }
            .boxtitle{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1rem 0;
            }
            .boxtitle h1{
                font-size: 2rem;
            }
            .like{
                padding: 1rem ;
                color:$likecolor ;
                text-decoration: none;
                display: flex;
                border: 1px solid rgba($likecolor, .5) ;
                background-color: #fff5f8;

            }
            .like i{
                margin-right: 1rem;
                margin-left: .5rem;
                font-size: 1.2rem;;
            }
            .like span{
                font-size: 1.2rem;
            }
            .right {
                background-color: $text-2;
                height: 100%;
                position: relative;
                width: 29%;
            }
            .product{
                display: flex;
            }
            .content{
                padding: 0 0 0 2rem;
            }
            .desc{
                padding: 1rem 0;
                color:  $text-1;
                font-size: 2rem;
                line-height: 1.4rem;
            }
            .button {
                background-color: $button-bg;
                border: 0;
                border-radius: 10px;
                bottom: 10px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                padding: 1em 2em;
                position: absolute;
                right: 10px;
            }
            .tag_lists{
                display: flex
            }
            .tag_lists_item{
                padding: 1rem;
                background-color: $button-bg;
                margin-right: .5rem;
            }
            .specifications{
                display: flex;
                padding: 1rem 0;
                justify-content: space-between;

            }
            .specification_title{
                padding: 0 0 1rem;
                font-size: 1.5rem;
                color: #999999;
            }
            .specification{
                width: 48%;
            }
            .company{
                width: 48%;
            }
          
            .specification_filds{
                display: flex;
                padding: .5rem;
                justify-content: space-between;
                align-items: center;

            }
            .specification_q{
                width: 40%;
            }
            .specification_a ul{
                display: flex;
            }
           .size_items, .color_items{
                display: flex;
                align-items: center;
            }
            .color_items li ,.size_items li{
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                margin: 0 .2rem
            }
            .size_items li{
                border: 1px solid #ccc;
            }
            .color_items li{
                border: 1px solid transparent;
            }
            .size_items li.active{
                background-color :$innertext;
                color: white;
            }
            .count{
                display: flex;
                border: 1px solid #ccc;
                height: 2rem;
                line-height: 2rem;
                padding: 0 1rem;
                color: #ccc;

            }
            .count li{
                padding: 0 .5rem;
                font-size: 1.2rem;
            }
            .number{
                color: #242424
            }
            .add_price{
                display: flex;
                justify-content: space-between;
                align-items: center
            }
            .prices , .addtobas{
                width: 48%;
            }
            .prices p{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .prices p{
                font-size: .8rem;
            }
            .bigp{
                font-size: 2.5rem;
                display: inline-block
            }
            .addtobas{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .btn_add{
                height: 60px;
                width: 25%;
                line-height: 60px;
                font-size: 2rem;
                text-align: center;
                border: 1px solid #ccc;
            }
            .btn_add i{
                font-size: 1.7rem;
            }
            .btn_buy{
                height: 60px;
                line-height: 60px;
                width: 71%;
                font-size: 1.5rem;
                background-color: #ffbb0d;
                text-align: center;
            }
            .boxsupports{
                width: 100%;
                display: flex;
                background-color:#fafafa ;
                margin-top: 2rem;
            }
            .boxsupport{
                width: 33.3%;
                padding: 2rem 1rem;
                text-align: justify;
            }
            .boxsupports .active{
                background-color: #333333;
                color: white;
                transform: scale(1.1)
            }
            .minlogo{
                background-color: black;
                color: white;
                padding: 20px;
                border-radius: 50%;
    
            }
            .fa-star{
                color: #ffbb0d;
            }
            .star{
                margin-left: 1rem;
            }
            .back-to-shop{
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                color: rgb(140, 140, 140);

            }
            .back-to-shop i{
                margin-right: 2rem
            }
        }
        
    }
 }

 @include themable(lightmode, $light-f-color, $light-s-color, $light-th-color, $light-fo-color, #f7f7f7,$like);
@include themable(darkmode, $dark-f-color, $dark-s-color, $dark-th-color, $dark-fo-color, #f7f7f7,$like);