html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.lightmode html, .lightmode body {
  background-color: #fcfcfc;
  font-family: 'Source Sans Pro', sans-serif; }
.lightmode .contents {
  width: 100%;
  background-color: #fcfcfc; }
.lightmode main {
  background-color: #fcfcfc;
  margin: 0 auto;
  width: 1200px; }
  .lightmode main * {
    font-size: 1rem;
    text-transform: capitalize;
    box-sizing: border-box; }
  .lightmode main header {
    display: flex;
    padding: 1rem 0;
    align-items: center; }
  .lightmode main .logo {
    width: 200px; }
  .lightmode main .search {
    width: calc( 100% - 200px );
    display: flex;
    justify-content: space-between; }
  .lightmode main .box-search {
    position: relative;
    width: 80%; }
  .lightmode main .box-search_input {
    width: 100%;
    padding: 15px;
    border-color: transparent;
    box-shadow: 0 0 0 1px #bababa; }
  .lightmode main .box-search_submit {
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 30px;
    color: #bababa; }
  .lightmode main .icon {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .lightmode main .boxtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0; }
  .lightmode main .boxtitle h1 {
    font-size: 2rem; }
  .lightmode main .like {
    padding: 1rem;
    color: #ff0c63;
    text-decoration: none;
    display: flex;
    border: 1px solid rgba(255, 12, 99, 0.5);
    background-color: #fff5f8; }
  .lightmode main .like i {
    margin-right: 1rem;
    margin-left: .5rem;
    font-size: 1.2rem; }
  .lightmode main .like span {
    font-size: 1.2rem; }
  .lightmode main .right {
    background-color: #d7d7d7;
    height: 100%;
    position: relative;
    width: 29%; }
  .lightmode main .product {
    display: flex; }
  .lightmode main .content {
    padding: 0 0 0 2rem; }
  .lightmode main .desc {
    padding: 1rem 0;
    color: #bababa;
    font-size: 2rem;
    line-height: 1.4rem; }
  .lightmode main .button {
    background-color: #f7f7f7;
    border: 0;
    border-radius: 10px;
    bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em 2em;
    position: absolute;
    right: 10px; }
  .lightmode main .tag_lists {
    display: flex; }
  .lightmode main .tag_lists_item {
    padding: 1rem;
    background-color: #f7f7f7;
    margin-right: .5rem; }
  .lightmode main .specifications {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between; }
  .lightmode main .specification_title {
    padding: 0 0 1rem;
    font-size: 1.5rem;
    color: #999999; }
  .lightmode main .specification {
    width: 48%; }
  .lightmode main .company {
    width: 48%; }
  .lightmode main .specification_filds {
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center; }
  .lightmode main .specification_q {
    width: 25%; }
  .lightmode main .size_items, .lightmode main .color_items {
    display: flex;
    align-items: center; }
  .lightmode main .color_items li, .lightmode main .size_items li {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin: 0 0.2rem; }
  .lightmode main .size_items li {
    border: 1px solid #ccc; }
  .lightmode main .color_items li {
    border: 1px solid transparent; }
  .lightmode main .size_items li.active {
    background-color: #333333;
    color: white; }
  .lightmode main .count {
    display: flex;
    border: 1px solid #ccc;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    color: #ccc; }
  .lightmode main .count li {
    padding: 0 .5rem;
    font-size: 1.2rem; }
  .lightmode main .number {
    color: #242424; }
  .lightmode main .add_price {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .lightmode main .prices, .lightmode main .addtobas {
    width: 48%; }
  .lightmode main .prices p {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .lightmode main .prices p {
    font-size: .8rem; }
  .lightmode main .bigp {
    font-size: 2.5rem;
    display: inline-block; }
  .lightmode main .addtobas {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .lightmode main .btn_add {
    height: 60px;
    width: 25%;
    line-height: 60px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc; }
  .lightmode main .btn_add i {
    font-size: 1.7rem; }
  .lightmode main .btn_buy {
    height: 60px;
    line-height: 60px;
    width: 71%;
    font-size: 1.5rem;
    background-color: #ffbb0d;
    text-align: center; }

.darkmode html, .darkmode body {
  background-color: #333333;
  font-family: 'Source Sans Pro', sans-serif; }
.darkmode .contents {
  width: 100%;
  background-color: #333333; }
.darkmode main {
  background-color: #333333;
  margin: 0 auto;
  width: 1200px; }
  .darkmode main * {
    font-size: 1rem;
    text-transform: capitalize;
    box-sizing: border-box; }
  .darkmode main header {
    display: flex;
    padding: 1rem 0;
    align-items: center; }
  .darkmode main .logo {
    width: 200px; }
  .darkmode main .search {
    width: calc( 100% - 200px );
    display: flex;
    justify-content: space-between; }
  .darkmode main .box-search {
    position: relative;
    width: 80%; }
  .darkmode main .box-search_input {
    width: 100%;
    padding: 15px;
    border-color: transparent;
    box-shadow: 0 0 0 1px #fcfcfc; }
  .darkmode main .box-search_submit {
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 30px;
    color: #fcfcfc; }
  .darkmode main .icon {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .darkmode main .boxtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0; }
  .darkmode main .boxtitle h1 {
    font-size: 2rem; }
  .darkmode main .like {
    padding: 1rem;
    color: #ff0c63;
    text-decoration: none;
    display: flex;
    border: 1px solid rgba(255, 12, 99, 0.5);
    background-color: #fff5f8; }
  .darkmode main .like i {
    margin-right: 1rem;
    margin-left: .5rem;
    font-size: 1.2rem; }
  .darkmode main .like span {
    font-size: 1.2rem; }
  .darkmode main .right {
    background-color: #c6538c;
    height: 100%;
    position: relative;
    width: 29%; }
  .darkmode main .product {
    display: flex; }
  .darkmode main .content {
    padding: 0 0 0 2rem; }
  .darkmode main .desc {
    padding: 1rem 0;
    color: #fcfcfc;
    font-size: 2rem;
    line-height: 1.4rem; }
  .darkmode main .button {
    background-color: #f7f7f7;
    border: 0;
    border-radius: 10px;
    bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em 2em;
    position: absolute;
    right: 10px; }
  .darkmode main .tag_lists {
    display: flex; }
  .darkmode main .tag_lists_item {
    padding: 1rem;
    background-color: #f7f7f7;
    margin-right: .5rem; }
  .darkmode main .specifications {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between; }
  .darkmode main .specification_title {
    padding: 0 0 1rem;
    font-size: 1.5rem;
    color: #999999; }
  .darkmode main .specification {
    width: 48%; }
  .darkmode main .company {
    width: 48%; }
  .darkmode main .specification_filds {
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center; }
  .darkmode main .specification_q {
    width: 25%; }
  .darkmode main .size_items, .darkmode main .color_items {
    display: flex;
    align-items: center; }
  .darkmode main .color_items li, .darkmode main .size_items li {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin: 0 0.2rem; }
  .darkmode main .size_items li {
    border: 1px solid #ccc; }
  .darkmode main .color_items li {
    border: 1px solid transparent; }
  .darkmode main .size_items li.active {
    background-color: #fcfcfc;
    color: white; }
  .darkmode main .count {
    display: flex;
    border: 1px solid #ccc;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    color: #ccc; }
  .darkmode main .count li {
    padding: 0 .5rem;
    font-size: 1.2rem; }
  .darkmode main .number {
    color: #242424; }
  .darkmode main .add_price {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .darkmode main .prices, .darkmode main .addtobas {
    width: 48%; }
  .darkmode main .prices p {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .darkmode main .prices p {
    font-size: .8rem; }
  .darkmode main .bigp {
    font-size: 2.5rem;
    display: inline-block; }
  .darkmode main .addtobas {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .darkmode main .btn_add {
    height: 60px;
    width: 25%;
    line-height: 60px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc; }
  .darkmode main .btn_add i {
    font-size: 1.7rem; }
  .darkmode main .btn_buy {
    height: 60px;
    line-height: 60px;
    width: 71%;
    font-size: 1.5rem;
    background-color: #ffbb0d;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
